*{
    box-sizing: border-box;
}

html{


}

body{
    margin: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(-135deg, #58a8ff 0%, #266d4a 100%);
    background-repeat: no-repeat;
    background-size: contain;

    border: 5px solid rgba(0, 0, 0, 0.17);

}

.button{
    position: absolute;
    right: 0;
    margin: 10px;
}
#button{
    float: right;
    text-align: center;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.31)  ;
    color: white;
    border: 1px solid black;
}
#button:active{
    transform: scale(0.95);
}

.wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    /*border: 55px solid rgba(0, 0, 0, 0.17);*/
    /*width: 100vw;*/
    /*height: 100vh;*/box-sizing: border-box;
}
